<script type="text/x-handlebars-template" id="mapsvg-filters-tmpl-distance-control">
   <div class="form-group mb-3 ">
        <label class="form-label">Label</label>
        <input type="text" class="form-control" name="label" value="{{label}}" autocomplete="off" />
        <p class="form-text">
            Label can be empty
        </p>
    </div>
    <div class="form-group mb-3">
        <label class="form-label">What field to filter by</label>
        <input type="text" class="form-control" value="Location" disabled="disabled"/>
    </div>

    <!--<div class="form-group mb-3 row">-->
        <!--<label class="form-label">Placeholder</label>-->
        <!--<input type="text" name="placeholder" class="form-control" value="{{placeholder}}"/>-->
    <!--</div>-->
    <!--<div class="form-group mb-3 row">-->
        <!--<label class="form-label">User's current location button</label>-->
        <!--<div>-->
            <!--<input type="checkbox" class="mapsvg-onoff" name="userLocationButton"  {{#if userLocationButton}}checked{{/if}} />-->
        <!--</div>-->
        <!--<p class="form-text">-->
            <!--Please note that most browsers do not support the use of the Geolocation API on connections that don’t use HTTPS.-->
            <!--If your website is on HTTP connection this feature will not work.-->
        <!--</p>-->
    <!--</div>-->

    <!--<div class="form-group mb-3 row">-->
        <!--<label class="form-label">Address search field</label>-->
        <!--<div>-->
            <!--<input type="checkbox" class="mapsvg-onoff" name="addressField"  {{#if addressField}}checked{{/if}} />-->
        <!--</div>-->
        <!--<p class="form-text">-->
            <!--In addition to the user's location auto-detection you can add an address search field - so users could-->
            <!--find nearby objects for any address.-->
        <!--</p>-->
    <!--</div>-->

    <div class="form-group mb-3">
        <label class="form-label">Search field placeholder</label>
        <div>
            <input type="text" class="form-control" name="addressFieldPlaceholder"  value="{{addressFieldPlaceholder}}" />
        </div>
    </div>

    <div class="form-group mb-3 ">
        <label class="form-label">User location button</label>
        <div class="form-switch form-switch-md">

            <input type="checkbox" class="form-check-input" name="userLocationButton"  {{#if userLocationButton}}checked{{/if}} />
        </div>
            <p class="form-text">
                Click on the button searches for nearby locations within given radius.
                This feature users browser's built-in HTML5 geolocation feature that works only under HTTPS connection.
            </p>
        </div>


    <div class="form-group mb-3 ">
        <label class="form-label">Search by ZIP/postcode only</label>
        <div>
            <div class="form-switch form-switch-md">
            <input type="checkbox" class="form-check-input" name="searchByZip"  {{#if searchByZip}}checked{{/if}} />
            </div>
            <p class="form-text">
                Enable this if you don't want autosuggestion drop-down with the list of addresses to appear when user is typing in the search field.
            </p>
        </div>
    </div>

    <div class="form-group mb-3 ">
        <label class="form-label">ZIP/postcode length</label>
        <div>
            <input type="text" class="form-control" name="zipLength"  value="{{zipLength}}" />
            <p class="form-text">
                Every country has a different postcode length. If you enabled "Search by ZIP/postcode only" then
                MapSVG will do the search only when the required number of characters is entered in the search field.
            </p>
        </div>
    </div>

    <div class="form-group mb-3 ">
        <label class="form-label">Limit search results by country</label>
        <select class="mapsvg-select2 form-control" name="country" style="width:100%;">
            <option>...</option>
            {{#each countries}}<option {{#ifeq id ../country}}selected{{/ifeq}} value="{{id}}">{{title}}</option>{{/each}}
        </select>
    </div>


    <div class="form-group mb-3 ">
        <label class="form-label">Distance units</label>
        <div>
            <div class="btn-group" data-toggle="buttons">

                <input id="mapsvg-filters-km" class="btn-check" type="radio" name="distanceUnits" value="km" {{#ifeq distanceUnits 'km'}}checked{{/ifeq}} data-live="change"/>
                <label for="mapsvg-filters-km" class="btn btn-outline-secondary ">
                       kilometers
                </label>
                <input id="mapsvg-filters-miles"class="btn-check" type="radio" name="distanceUnits" value="mi" {{#ifeq distanceUnits 'mi'}}checked{{/ifeq}} data-live="change"/>
                <label for="mapsvg-filters-miles" class="btn btn-outline-secondary ">

                    miles
                </label>
            </div>
        </div>
    </div>

    <div class="form-group mb-3 ">
        <label class="form-label">Distance units label</label>
        <div>
            <input type="text" class="form-control" name="distanceUnitsLabel"  value="{{distanceUnitsLabel}}" />
        </div>
    </div>

    <!--<div class="form-group mb-3 row">-->
        <!--<label class="form-label">"From" text translation</label>-->
        <!--<div>-->
            <!--<input type="text" class="form-control" name="fromLabel"  value="{{fromLabel}}" />-->
        <!--</div>-->
    <!--</div>-->


    <!--<div class="form-group mb-3 row">-->
        <!--<label class="form-label">Distance control</label>-->
        <!--<div class="radio">-->
            <!--<label class="form-label">-->
                <!--<input type="radio" name="distanceControl" value="none" {{#ifeq distanceControl 'none'}}checked{{/ifeq}} data-live="change"/>-->
                <!--None (one "default" distance from the "Distances list" field)-->
            <!--</label>-->
        <!--</div>-->
        <!--<div class="radio">-->
            <!--<label class="form-label">-->
                <!--<input type="radio" name="distanceControl" value="select" {{#ifeq distanceControl 'select'}}checked{{/ifeq}} data-live="change"/>-->
                <!--Drop-down list (all values from the "Distances list" field)-->
            <!--</label>-->
        <!--</div>-->
        <!--<div class="radio">-->
            <!--<label class="form-label">-->
                <!--<input type="radio" name="distanceControl" value="text" {{#ifeq distanceControl 'text'}}checked{{/ifeq}} data-live="change"/>-->
                <!--Text field (search by any entered distance)-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->


    <div class="form-group mb-3">
        <div class="form-group mb-3 ">
            <label class="form-label">Distances list</label>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th style="width: 25%;">Distance</th>
                    <th>Default</th>
                </tr>
                </thead>
                <tbody>
                {{#each options}}
                    <tr class="mapsvg-edit-distance-row">
                        <td>
                            <input type="text" autocomplete="off" data-param="value" data-array="true" name="options" class="form-control" value="{{value}}" />
                        </td>
                        <td>
                            <input type="radio" data-param="default" data-array="true" class="form-check-input mapsvg-distance-default"  name="options_default" {{#if default}}checked{{/if}} />
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>


    <!--<div class="form-group mb-3 row">-->
        <!--<label class="form-label">Help</label>-->
        <!--<textarea class="form-control" name="help">{{help}}</textarea>-->
    <!--</div>-->

    <div class="form-group mb-3 ">
        <button class="btn btn-outline-secondary  mapsvg-remove"><i class="mfa mfa-trash"></i> Remove</button>
    </div>
</script>
